/**Selector universal**/
* {
  /**Espacio interior e exterior al 0**/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/**Div - Foto arriba del header**/
.foto {
  text-align: center;
}

/**Cambiar anchura de la imagen en el div foto**/
.foto img {
  width: 33%;
}

/**Header con id cabecera**/
#cabecera {
  float: left;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

/**Nav clase cont**/
.cont {
  background-color: #191919;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 10px;
  top: 0px;
  /**Fuente web - Enlaces**/
  font-family: "Rubik", sans-serif;
}

/**Configurar los div que se encuentran dentro de la nav de clase cont**/
.cont > div {
  display: inline-block;
  font-size: 28px;
  padding: 12px;
  width: 15%;
  background-color: #191919;
}

/**Linea horizontal al posicionar ratón en letra**/
/**Configurar del div de clase cab-con los enlaces**/

/**Transición color original**/
.cab-con a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s linear 0.2s;
}

/**Transición color cambiado**/
.cab-con a:hover {
  color: #979797;
}

/**Página**/
#contenido {
  float: left;
  width: 100%;
  background-color: #f9f9f9;
  height: 180em;
  padding: 65px;
  color: #000000;
}

/**Dentro de cada section modificar el encabezado de nivel 2 (h2)**/
section > h2 {
  font-size: 2.5em;
  /**Encabezado h2**/
  font-family: 'DM Sans', sans-serif;
  margin: 30px 0;
}

article {
  margin: 20px;
}
/**Dentro de cada article modificar el parrafo**/

article > p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin: 10px 0;
}

section > p {
  font-family: 'Quicksand', sans-serif;
  margin: 20px 0;
}

/**Transición de enlace**/
.en a {
  color: #191919;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.5s linear 0.2s;
}

/**Transición enlace color cambiado**/
.en a:hover {
  color: #dedede;
}


article > h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 22px;
  margin: 40px;
  text-align: center;
}

iframe {
  margin: 0px 33%;
  width: 560px;
  height: 315px;
}
/**Footer**/
#abajo {
  float: left;
  background-color: #191919;
  width: 100%;
  height: 14em;
  text-align: center;
  color: #ffffff;
  /**Footer**/
  font-family: 'Kantumruy Pro', sans-serif;
}

/**div red-soc**/
.red-soc {
  margin: 2em;
}

/**Parrafo del div red-soc**/
.red-soc p {
  margin: 15px;
  font-size: 20px;
}

/**Imagen de red-soc**/
.red-soc img {
  width: 2.3%;
  margin: 2px;
}