body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    }

#arriba {
    height: 10%;
    background-color: #00ffff;
    border-bottom:#ff0000 solid thin;
    }

#centro {
    height: 60%;
    width: 70%;
    background-color: #dedede;
    }

#izq {
    width:20%;
    float:left;
    background-color:#e28b8b;
    height: 90%;
    }